
.card-detail-container{

    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card-detail-content{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #DCB677;
    border-radius: .2rem;
    box-shadow: 1px 2px 1px ;
    padding: 1rem;
}

.card-image{
    border: 1px solid #DCB677;
    border-radius: 50%;
    box-shadow: 1px 2px 1px ;
    position: relative;
    background-image:
    url('https://images-ext-1.discordapp.net/external/I7PT8y-wJzC5j0JeOVFvADnnFQwWrXOI8rC6HLHKiwg/%3Fid%3DOIP.GQYQNvdSJWLD474zL6H0vAHaEc%26pid%3DApi/https/tse2.mm.bing.net/th'); 
    background-size: cover;
}

.MuiButton-text{
    text-transform: none;
}

.battleCard_container{
    justify-content: center; 
    text-align: center;
    padding: 2rem
}

.battleCard_fighters{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}