footer {
    background-color: #FEDE01 !important;
    color: #DDB777 !important;
    font-size: 0.7em;
    margin-top: 3em;
    height: 5em;
    width: auto;
}


img {
    margin-bottom: 2em;
    justify-content: flex-end;
}
