
.main-container{
  background-image: url('https://cdn.vox-cdn.com/thumbor/hYliqDMZqJL1Jw71v1hhI6vVOUc=/312x0:1746x956/1820x1213/filters:focal(312x0:1746x956):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/37251612/pokemon-list.0.0.png');
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #DCB677;
    border-radius: .2rem;
    box-shadow: 1px 2px 1px ;
}

.main-poke-content{
   display: flex;
   justify-content: center;
}

.spinner{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
    animation: spin 2s ease-in-out infinite;
    -webkit-animation: spin 2s ease-in-out infinite;
}

.spinner i {
  color: #ff3300;
  font-size: 3em;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}